<div class="container-fluid">
	<div class="row-fluid layer">
		<h1>IDEA SHARE</h1>
		<h2>share your ideas!learn and grow!</h2>
		<p> <a href="#" class="btn" role="button">login</a>
			<a href="#" class="btn" role="button">signup</a>
		</p>

	</div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
    	<%= image_tag("gsoc-meetup.jpg") %>
      <div class="caption">
        <h3>50 Members</h3>
        
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gsoc-meetup.jpg") %>
      <div class="caption">
        <h3>50 Members</h3>
        
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gsoc-meetup.jpg") %>
      <div class="caption">
        <h3>50 Members</h3>
        
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">gsoc-meetup.jpg") %>
      <div class="caption">
        <h3>50 Members</h3>
        
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gsoc-meetup.jpg") %>
      <div class="caption">
        <h3>50 Members</h3>
        
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag("gsoc-meetup.jpg") %>
      <div class="caption">
        <h3>50 Members</h3>
        
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>